.application-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 200px;
}
.map-content {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
}
.languages {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}
.languages .btn {
  padding: 0;
  padding-left: 4px;
}
.languages .btn.disabled {
  opacity: 0.2;
}
#output {
  display: inline-block;
  margin: 10px;
  font-size: 40px;
}
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}
